@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}

.pb-3 {
  margin-top: 5%;
  padding-bottom: 10rem !important;
  background-color: #fff;
  border-style: inset;
}

.row-color {
  background-color: blue;
}

.red-bg-color {
  background-color: red;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: skyblue;
  transition: 0.4s
}

.nav-item:hover::after {
  width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: skyblue;
}

.nav-link {
  padding: 25px 5px;
  transition: 0.2s
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  font-size: 20px;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  font-size: 35px;
}

.me-auto a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  font-size: 18px;
  margin-left: 10px;

}

.pagination>li {
  display: inline-block;
  padding-left: 0;
}

.pagination>li {
  list-style: none;
  border: 0.9px solid;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>li.active>a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/* Style the active class (and buttons on mouse-over) */
.pagination>li>a:hover {
  background-color: #218838;
  color: white;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  padding: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: none !important;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding: 0px !important;
  border-top-right-radius: 4px;
  display: none !important;
}

.error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  font-size: 0.8em;
}

.formName {
  margin-bottom: 5px;
  position: relative;
  padding: 10px;
}

.formLogin {
  padding: 0.5em 0.2em;
    position: relative;
    padding: 40px;
    background-color: rgb(255 255 255 / 17%);
    justify-content: center;
    border-radius: 1px;
    border: 2px solid #00000021;
    width: 350px;
    height: max-content;
    margin: 50px;
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
* Form styles
*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.loadingBlocker {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  div {
    top: 33%;
    left: auto;
    right: auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    position: relative;
  }
}

.login_form {
  justify-content: center;
  left: 80px;
  width: 250px;
  height: 250px;
  margin: 50px;
  right: auto;
 box-sizing: content-box
  ;

}

.btn-login {
  justify-content: center;
  left: 80px;
  width: 100%;
    margin-top: 30px;
    background-color: #218838;
}

.projects-table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

.delete {
  background-color: #786ac9; /* Green */
  border: none;
  color: white;
  padding: 7px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
}
.edit {
  background-color: #786ac9; /* Green */
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.close{
  text-align: right;
}

.footter{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.header{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
